.header {
    background-color: white;
    height: 140px;
}

li {
    color:#333;
    font-family: 'Karla', sans-serif;
}

.nav {
    background-color:red;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    color:white;
    
}

.navLinks {
    background-color: pink;
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
}


.logo {
    min-width: 90vw;
    background-color: purple;
    display:'flex';
    color:white;

}